*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.hero{
	height: 100vh;
	width: 100%;
	background-image: url('./img/sky.png');
	position: relative;
	background-size: cover;
	overflow-x: hidden;
}
.highway{
	height: 200px;
	width: 500%;
	display: block;
	background-image: url('./img/road.jpg');
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	background-repeat: repeat-x;
	animation: road 4s linear infinite;
}

@keyframes road{
	100%{
		transform: translateX(-3400px);
	}
}

.city{
	height: 250px;
	width: 500%;
	display: block;
	background-image: url('./img/city.png');
	position: absolute;
	bottom: 200px;
	left: 0;
	right: 0;
	z-index: 1;
	background-size: contain;
	background-position: bottom;
	background-repeat: repeat-x;
	animation: building 18s linear infinite;
}

@keyframes building{
	100%{
		transform: translateX(-1400px);
	}
}

.car-1 .car{
	width: 400px;
	position: absolute;
	left: 20%;
	bottom: 100px;
	z-index: 2
}
.car-1 .car img{
	width: 100%;
	animation: vechicle 1s linear infinite;
}

@keyframes vechicle{
	0%{
		transform: translateY(-2px);
	}
	50%{
		transform: translateY(2px);
	}
	100%{
		transform: translateY(-2px);
	}
}

.car-1 .wheel{
	position: absolute;
	left: 22%;
	bottom: 178px;
	transform: translateX(-50%);
	z-index: 2
}

.car-1 .wheel img{
	width: 72px;
	height: 72px;
	animation: rotate 0.5s linear infinite;
}

@keyframes rotate{
	100%{
		transform: rotate(360deg);
	}
}

.car-1 .front-wheel{
	position: absolute;
	left: 252px;
}

.car-1 .back-wheel{
	position: absolute;
	left: 7px;
}



.doremon-1 .doremon{
	width: 400px;
	position: absolute;
	left: 20%;
	bottom: 100px;
	z-index: 2
}
.doremon-1 .doremon img{
	width: 100%;
	animation: vechicle 1s linear infinite;
}

@keyframes doremon{
	0%{
		transform: translateY(-2px);
	}
	50%{
		transform: translateY(2px);
	}
	100%{
		transform: translateY(-2px);
	}
}

.doremon-1 .doremon{
	position: absolute;
	left: 22%;
	bottom: 178px;
	transform: translateX(-50%);
	z-index: 2
}


.doremon-1 .doremon{
	position: absolute;
	left: 252px;
}
img.dore {
    margin-left: 180px;
    width: 132px;
	transform: rotateZ(48deg);
}

